<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.w2a.listeners.CustomListeners" />
	</listeners>
	
	<test name="Verify Signin Emails">
	   <classes>
			<class name="com.w2a.testcases.verifySignInAutomationPractice" />
		</classes>	
	</test>
	
	
	
</suite> <!-- Suite -->
